<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>:D</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel="stylesheet" href="/style/sidebar.css">
	<link rel="stylesheet" href="/style/shared.css">
	<link rel="stylesheet" href="/style/table.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC">

    <script src="/js/themeManager.js"></script>
    <script src="/js/sidebar.js" defer></script>
</head>
<body>

	<%- include('partials/sidebar') %>

	<main>
		<div class="center-container" style="padding:2rem;">
			<table class="white-gray-table table--radius-border" style="width: 50%">
				<head>
					<tr>
						<th style="width: 15%;">宿舍</th>
						<th style="width: 15%;">房號</th>
						<th style="width: 10%;">編號</th>
						<th style="width: 10%;">類型</th>
						<th style="width: 10%;">操作</th>
					</tr>
				</head>
				<tbody>
					<% if(repairContent.length == 0){ %>
						<tr>
							<td>N/A</td>
							<td>N/A</td>
							<td>N/A</td>
							<td>N/A</td>
							<td>N/A</td>
						</tr>
					<% }else{ %>
						<% for( let index = 0; index < repairContent.length; index++ ) { %>
							<tr>
								<form action="/applyRepair/finishApply" method="post">
									<td>
										<%= repairContent[index].dorm_name %>
									</td>
									<td tableText="<%= index %>">
										<%= repairContent[index].r_number %>
									</td>
									<td tableText="<%= index %>">
										<%= repairContent[index].e_ID %>
									</td>
									<td tableText="<%= index %>">
										<%= repairContent[index].e_type %>
									</td>
									<input name="equipmentID" type="hidden" value="<%= repairContent[index].e_ID %>">
									<input name="dormName" type="hidden" value="<%= repairContent[index].dorm_name %>">
									<input name="roomNum" type="hidden" value="<%= repairContent[index].r_number %>">
									<td class="center-container">
										<% if( ['admin', 'housemaster', 'maintainer'].includes(userData.role) ){ %>
											<input class="apply-button" type="submit" name="repaired" value="已維修">
										<% } %>
									</td>
								</form>
							</tr>
						<% } %>
					<% } %>
					<% if( ['resident_student'].includes(userData.role) ){ %>
						<tr>
							<form action="/applyRepair/apply" method="post">
								<td>
									<input class="bottom-line-input" style="width: 50%;" name="dormName" type="text" value="">
								</td>
								<td>
									<input class="bottom-line-input" style="width: 50%;" name="roomNum" type="number" value="">
								</td>
								<td>
									<input class="bottom-line-input" style="width: 50%;" name="equipmentID" type="number" value="">
								</td>
								<td>

								</td>
								<td class="center-container">
									<input class="apply-button" type="submit" name="insert" value="報修">
								</td>
							</form>
						</tr>
					<% } %>
				</tbody>
			</table>
		</div>
	</main>

</body>
</html>