<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>:D</title>

	<link rel="stylesheet" href="/style/sidebar.css">
	<link rel="stylesheet" href="/style/shared.css">
	<link rel="stylesheet" href="/style/bulletion.css">
	<link rel="stylesheet" href="/style/inputs.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC">

    <script src="/js/themeManager.js"></script>
    <script src="/js/table.js" defer></script>
    <script src="/js/sidebar.js" defer></script>
	
	<meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>

	<%- include('partials/sidebar') %>

    <main>
        <div class="bulletion">
            <div class="bulletion-side">
				<h2 style="display: block; margin: 0.4rem; margin-bottom: 1rem;">公告們</h2>
                <div class="bulletion-side-container" id="title-container">
                    
                </div>
				<% if( ['housemaster'].includes(userData.role) ){ %>
					<div class="bulletion-side-bottom">
						<form method="post" action='/bulletion/post'>
							<input type="hidden" name="housemasterID" value="<%- userData.user_ID %>" />
							<div style="width: 92%;" class="input-text input-text--prim-bg-dark">
								<input type="text" name="title" value="" placeholder=" " autocomplete="off">
								<label for="uName">標題</label>
							</div>
							<div style="width: 92%;" class="input-text input-text--prim-bg-dark">
								<!-- <input type="text" name="text" value="" placeholder=" "> -->
								<textarea name="text" cols="30" rows="10" placeholder=" " autocomplete="off"></textarea>
								<label for="uName">內容</label>
							</div>
							<input class="apply-button" type="submit" name="button" value="post" />
						</form>
					</div>
				<% } %>
            </div>
            <div class="bulletion-mid" id="content-container">
				<div class="center-container" style="height: 100%;">
					<h2 style="margin-bottom: 0;">這裡暫時什麼都沒有</h2>
					<h4 style="color: var(--icon-color);">點選左側公告開始閱讀</h4>
				</div>
            </div>
            <div class="bulletion-side">
				<h2 style="display: block; margin: 0.5rem; margin-bottom: 1rem;">留言們</h2>
                <div class="bulletion-side-container" id="comment-container">
					
                </div>
				<% if( ['resident_student', 'housemaster'].includes(userData.role) ){ %>
					<div class="bulletion-side-bottom" hidden>
						<form id="postComment" method="post" action='/bulletion/6/comment'>
							<input type="hidden" name="user_ID" value="<%- userData.user_ID %>" />
							<div style="width: 92%;" class="input-text input-text--prim-bg-dark">
								<textarea name="content" cols="30" rows="10" placeholder=" " autocomplete="off"></textarea>
								<!-- <input type="text" name="content" value="" placeholder=" " autocomplete="off"> -->
								<label for="uName">留言</label>
							</div>
							<input class="apply-button" type="submit" name="button" value="comment" />
						</form>
					</div>
				<% } %>
            </div>
        </div>
    </main>

<script>
	let bulletionData = <%- JSON.stringify(bulletion) %>;
	
	let currentBulletionInd = <%- viewInd %>;
</script>

</body>
</html>