<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>:D</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel="stylesheet" href="/style/sidebar.css">
	<link rel="stylesheet" href="/style/shared.css">
	<link rel="stylesheet" href="/style/table.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC">

    <script src="/js/themeManager.js"></script>
    <script src="/js/sidebar.js" defer></script>
    <script src="/js/table.js" defer></script>
</head>
<body>

	<%- include('partials/sidebar') %>

	<main>
		<div class="center-container" style="padding: 3rem;">
			<table class="white-gray-table table--radius-border" style="width: 70%;">
				<head>
					<tr style="background-color: var(--primary-color-darker);">
						<th style="width: 15%;">宿舍名稱</th>
						<th style="width: 10%;">房間數量</th>
						<th style="width: 15%;">舍監編號</th>
						<th style="width: 15%;">舍監名稱</th>
						<% if( ['admin'].includes(userData.role) ) { %>
						<th style="width: 15%;">操作</th>
						<% } %>
					</tr>
				</head>
				<tbody>
					<% if(dormInfo.length == 0){ %>
						<tr>
							<td>N/A</td>
							<td>N/A</td>
							<td>N/A</td>
							<td>N/A</td>
							<% if( ['admin'].includes(userData.role) ) { %>
							<td>N/A</td>
							<% } %>
						</tr>
					<% }else{ %>
						<% for( let index = 0; index < dormInfo.length; index++ ) { %>
							<tr>
								<form action="/dormitory/modify" method="post">
									<td>
										<a href="/dormitory/<%= dormInfo[index].dorm_name %>">
											<%= dormInfo[index].dorm_name %>
										</a>
									</td>
									<td tableText="<%= index %>">
										<%= dormInfo[index].dorm_volume %>
									</td>
									<td tableText="<%= index %>">
										<%= dormInfo[index].housemaster_ID %>
									</td>
									<input name="dormName" type="hidden" value="<%= dormInfo[index].dorm_name %>">
									<% if( ['admin'].includes(userData.role) ) { %>
									<td tableInput="<%= index %>" hidden>
										<input class="bottom-line-input" style="width: 70%;" name="dormVolume" type="number" value="<%= dormInfo[index].dorm_volume %>" defaultText="<%= dormInfo[index].dorm_volume %>">
									</td>
									<td tableInput="<%= index %>" hidden>
										<input class="bottom-line-input" style="width: 70%;" name="housemasterID" type="text" value="<%= dormInfo[index].housemaster_ID %>" defaultText="<%= dormInfo[index].housemaster_ID %>">
									</td>
									<% } %>
									<td>
										<%= dormInfo[index].housemaster_name %>
									</td>
									<% if( ['admin'].includes(userData.role) ) { %>
									<td class="flex-container flex-container--space-evenly">
										<div>
											<button class="apply-button" tableEditButton="<%= index %>" id="tableEdit">修改/取消</button>
										</div>
										<div>
											<input class="apply-button" type="submit" name="update" value="確認" tableSubmitButton="<%= index %>" hidden>
											<input class="apply-button" type="submit" name="delete" value="刪除" tableDeleteButton="<%= index %>">
										</div>
									</td>
									<% } %>
								</form>
							</tr>
						<% } %>
					<% } %>
					<% if( ['admin'].includes(userData.role) ) { %>
					<tr>
						<form action="/dormitory/insert" method="post">
							<td>
								<input class="bottom-line-input" style="width: 70%;" name="dormName" type="text" value="">
							</td>
							<td>
								<input class="bottom-line-input" style="width: 70%;" name="dormVolume" type="number" value="">
							</td>
							<td>
								<input class="bottom-line-input" style="width: 70%;" name="housemasterID" type="text" value="">
							</td>
							<td>

							</td>
							<td class="center-container">
								<input class="apply-button" type="submit" name="insert" value="新增">
							</td>
						</form>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>
	</main>

</body>
</html>