<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>:D</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel="stylesheet" href="/style/sidebar.css">
	<link rel="stylesheet" href="/style/shared.css">
	<link rel="stylesheet" href="/style/table.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC">

    <script src="/js/themeManager.js"></script>
    <script src="/js/sidebar.js" defer></script>
</head>
<body>

	<%- include('partials/sidebar') %>

	<main>
		<div class="center-container" style="padding:2rem;">
			<h2><%= dormName %> 房號: <%= roomNum %></h2>
			<br>
			<table class="white-gray-table table--radius-border" style="width: 50%">
				<head>
					<tr style="background-color: var(--primary-color-darker);">
						<th style="width: 15%;">編號</th>
						<th style="width: 15%;">類型</th>
						<th style="width: 10%;">狀態</th>
						<% if( ['admin'].includes(userData.role) ) { %>
						<th style="width: 10%;">操作</th>
						<% } %>
					</tr>
				</head>
				<tbody>
					<% if(equipInfo.length == 0){ %>
						<tr>
							<td>N/A</td>
							<td>N/A</td>
							<td>N/A</td>
							<% if( ['admin'].includes(userData.role) ) { %>
							<td>N/A</td>
							<% } %>
						</tr>
					<% }else{ %>
						<% for( let index = 0; index < equipInfo.length; index++ ) { %>
							<tr>
								<form action="/dormitory/<%= dormName %>/<%= roomNum %>/del" method="post">
									<td>
										<%= equipInfo[index].e_ID %>
									</td>
									<td tableText="<%= index %>">
										<%= equipInfo[index].e_type %>
									</td>
									<td tableText="<%= index %>">
										<%= equipInfo[index].e_condition %><%= (equipInfo[index].e_condition == 1)? '(正常)' : '(損壞)' %>
									</td>
									<input name="dormName" type="hidden" value="<%= dormName %>">
									<input name="roomNum" type="hidden" value="<%= roomNum %>">
									<input name="eID" type="hidden" value="<%= equipInfo[index].e_ID %>">
									<% if( ['admin'].includes(userData.role) ) { %>
									<td class="center-container">
										<input class="apply-button" type="submit" name="delete" value="刪除">
									</td>
									<% } %>
								</form>
							</tr>
						<% } %>
					<% } %>
					<% if( ['admin'].includes(userData.role) ) { %>
					<tr>
						<form action="/dormitory/<%= dormName %>/<%= roomNum %>/insertEquip" method="post">
							<td>

							</td>
							<td>
								<input class="bottom-line-input" style="width: 50%;" name="eType" type="text" value="">
							</td>
							<td>
								<input class="bottom-line-input" style="width: 50%;" name="eCondition" type="text" value="">
							</td>
							<td class="center-container">
								<input class="apply-button" type="submit" name="insert" value="新增">
							</td>
						</form>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>
	</main>

</body>
</html>