<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>:D</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel="stylesheet" href="/style/sidebar.css">
	<link rel="stylesheet" href="/style/shared.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC">

    <script src="/js/themeManager.js"></script>
    <script src="/js/sidebar.js" defer></script>
    <script src="/js/dormitory.js" defer></script>
</head>
<body>

	<%- include('partials/sidebar') %>

	<main>

		<table>
			<head>
				<tr>
					<th>宿舍名稱</th>
					<th>房間數量</th>
					<th>舍監編號</th>
					<th>舍監名稱</th>
					<th>操作</th>
				</tr>
			</head>
			<tbody>
				<% if(dormInfo.length == 0){ %>
					<tr>
						<td>N/A</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>N/A</td>
						<td>N/A</td>
					</tr>
				<% }else{ %>
					<% for( let index = 0; index < dormInfo.length; index++ ) { %>
						<tr>
							<form action="/dormitory/modify" method="post">
								<td>
									<%= dormInfo[index].dorm_name %>
								</td>
								<td tableText="<%= index %>">
									<%= dormInfo[index].dorm_volume %>
								</td>
								<td tableText="<%= index %>">
									<%= dormInfo[index].housemaster_ID %>
								</td>
								<input name="dormName" type="hidden" value="<%= dormInfo[index].dorm_name %>">
								<td tableInput="<%= index %>" hidden>
									<input name="dormVolume" type="text" value="<%= dormInfo[index].dorm_volume %>" defaultText="<%= dormInfo[index].dorm_volume %>">
								</td>
								<td tableInput="<%= index %>" hidden>
									<input name="housemasterID" type="text" value="<%= dormInfo[index].housemaster_ID %>" defaultText="<%= dormInfo[index].housemaster_ID %>">
								</td>
								<td>
									<%= dormInfo[index].housemaster_name %>
								</td>
								<td>
									<button tableEditButton="<%= index %>" id="tableEdit">修改/取消</button>
									<input type="submit" name="update" value="確認" tableSubmitButton="<%= index %>" hidden>
									<input type="submit" name="delete" value="刪除" tableDeleteButton="<%= index %>">
								</td>
							</form>
						</tr>
					<% } %>
				<% } %>
				<tr>
					<form action="/dormitory/insert" method="post">
						<td>
							<input name="dormName" type="text" value="">
						</td>
						<td>
							<input name="dormVolume" type="text" value="">
						</td>
						<td>
							<input name="housemasterID" type="text" value="">
						</td>
						<td>
							<input type="submit" name="insert" value="新增">
						</td>
					</form>
				</tr>
			</tbody>
		</table>
	</main>

</body>
</html>