<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>:D</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel="stylesheet" href="/style/sidebar.css">
	<link rel="stylesheet" href="/style/shared.css">
	<link rel="stylesheet" href="/style/table.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC">

    <script src="/js/themeManager.js"></script>
    <script src="/js/sidebar.js" defer></script>
</head>
<body>
	<%- include('../partials/sidebar') %>

	<main>
		<div class="center-container" style="padding:2rem;">
			<table class="white-gray-table table--radius-border" style="width: 50%">
				<head>
					<tr style="background-color: var(--primary-color-darker);">
						<th style="width: 15%;">學生ID</th>
						<th style="width: 10%;">姓名</th>
						<th style="width: 15%;">申請宿舍</th>
						<th style="width: 10%;">申請狀態</th>
					</tr>
				</head>
				<tbody>
					<% if(residentApplicationInfos.length == 0){ %>
						<tr>
							<td>N/A</td>
							<td>N/A</td>
							<td>N/A</td>
							<td>N/A</td>
						</tr>
					<% }else{ %>
						<% for( let index = 0; index < residentApplicationInfos.length; index++ ) { %>
							<tr>
								<td>
									<%= residentApplicationInfos[index].user_ID %>
								</td>
								<td>
									<%= residentApplicationInfos[index].user_name %>
								</td>
								<td>
									<%= residentApplicationInfos[index].dorm_name %>
								</td>
								<td>
									<%= 
										residentApplicationInfos[index].rA_approve == 1 ? 
										(residentApplicationInfos[index].rA_fee == 1 ? '已繳費' : '未繳費' ) : '待審核'
									%>
								</td>
							</tr>
						<% } %>
					<% } %>
				</tbody>
			</table>
		</div>
	</main>

</body>
</html>